.fondo-principal{
    overflow: hidden;
    background-image: url('/static/Imagenes/fondo.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; 
	background-repeat: no-repeat;
	display: block;
	margin: 0;
}

.fondo-secundario{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.7);
}

.fondo-login{
    position:absolute;
    background-color: white;
    left:12%; right:12%;
    top:25%; bottom:15%;
    margin:auto;
    max-width:100%;
    max-height:100%;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 2.5px 5px rgba(0, 0, 0, 0.5);
    
}

.fondo2-login{
    position:absolute;
    left:20%; right:20%;
    background-color: white;
    top:10%; bottom:25%;
    margin:auto;
    max-width:100%;
    max-height:100%;
}
.fondo-registro{
    position:absolute;
    background-color: white;
    left:12%; right:12%;
    top:15%; bottom:5%;
    margin:auto;
    max-width:100%;
    max-height:100%;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 2.5px 5px rgba(0, 0, 0, 0.5);
    
}

.fondo2-registro{
    position:absolute;
    left:20%; right:20%;
    background-color: white;
    top:10%; bottom:25%;
    margin:auto;
    max-width:100%;
    max-height:100%;
}