{% load static from staticfiles %}
<HTML>
	<head>
		<meta charset="utf-8">
        <title>Publicaciones cientificas</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'Estilos/estilos.css' %}">
		</head>		
		<body class="fondo-principal">
            <div class="fondo-secundario">
                    <nav>
                        <div class="nav-wrapper">
                              <a href="{% url 'index' %}" class="brand-logo">Ir al menú</a>
                              <ul id="nav-mobile" class="right hide-on-med-and-down">
                                <li><a href="{% url 'registro' %}"><i class="material-icons left">person_add</i>Registrarme</a></li>
                                <li><a href="{% url 'login' %}"><i class="material-icons left">person</i>Iniciar Sesion</a></li>
                                <li><a href="{% url 'Publicaciones:index' %}"><i class="material-icons left">book</i>Ir a Publicaciones</a></li>
                              </ul>
                            </div>
                          </nav>
                {% block contenido %}
                {% endblock %}
            </div>
        </body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</HTML>