{% extends 'Publicaciones/base.html' %}

{% block contenido %}

{% for publicacion in publicaciones %}

<div class="fondo-login">
    <a href="{% url 'Publicaciones:publicacion' slug=publicacion.slug %}">{{publicacion.titulo}}</a><br>
</div>
{% endfor %}

{% endblock %}