{% extends 'Publicaciones/base.html' %}

{% block contenido %}

<div class="fondo-login">
       <h4>Articulo escrito por: {{pub.autor}}</h4><br>

        <h5>{{pub.titulo}}</h5><br>
        <p>{{pub.cuerpo}}</p>
</div>

{% endblock %}