{% extends 'base.html' %}

{% block contenido %}

<div class="fondo-login">
    <div class="fondo2-login"><h3>Ingrese sus datos de usuario
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="input-field col s6">
        {{form.username}}<br><br>
        <label for = "usuario">{{form.username.label}}</label>
    </div>

    <div class="input-field">
        {{form.password}}<br><br>
        <label for="password">{{form.password.label}}</label>
    </div>
<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
</button>

</form>
</div>

</div>

{% endblock %}