{% extends 'base.html' %}

{% block contenido %}

<div class="fondo-registro">
        <div class="fondo2-registro"><h3>Registrar datos de usuario
    <form action="{% url 'registro' %}" method="POST">
        {% csrf_token %}
        <div class="input-field col s6">
            {{form.username}}<br>
            <label for = "usuario">{{form.username.label}}</label>
        </div>
    
        <div class="input-field">
            {{form.password}}<br>
            <label for="password">{{form.password.label}}</label>
        </div>

        <div class="input-field">
            {{form.nombre}}<br>
            <label for="nombre">{{form.nombre.label}}</label>
        </div>

        <div class="input-field">
            {{form.paterno}}<br>
            <label for="paterno">{{form.paterno.label}}</label>
        </div>

        <div class="input-field">
            {{form.materno}}<br>
            <label for="materno">{{form.materno.label}}</label>
        </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
    
    </form>
    </div>
    
    </div>

{% endblock %}